name: highlightable
description: A text widget that makes easy to highlight any letter/word you want
version: 1.0.0
homepage: https://github.com/theiskaa/highlightable-text
issue_tracker: https://github.com/theiskaa/highlightable-text/issues

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
